.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, #4e54c8, #8f94fb);
  padding: 15px;
  .login-card {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  }

  .language-buttons {
    position: fixed;
    top: 30px;
    right: 30px;
  }
}


mat-card h2 {
  font-family: 'Roboto', sans-serif;
  color: #4a4a4a;
  margin-bottom: 1.5rem;
  text-align: center;
}

mat-form-field {
  width: 100%;
}

button {
  background-color: #4e54c8;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #6c74e2;
  }
}

@media (max-width: 600px) {
  .login-card {
    padding: 1.5rem;
  }
}